#!/usr/local/bin/expect -f

spawn /usr/local/sbin/openvpn \
    --cd /FreeNAS-SABnzbd-OpenVPN/openvpn \
    --config /FreeNAS-SABnzbd-OpenVPN/openvpn/openvpn.conf \
    --up /FreeNAS-SABnzbd-OpenVPN/scripts/start_sabnzbd.sh \
    --script-security 2 \
    --down /FreeNAS-SABnzbd-OpenVPN/scripts/stop_sabnzbd.sh \
    --daemon openvpn \
    --log-append /FreeNAS-SABnzbd-OpenVPN/openvpn-running.log \
    --writepid /FreeNAS-SABnzbd-OpenVPN/openvpn.pid

expect "Enter Auth Username:" {
    send "USERNAME\n"
}
expect "Enter Auth Password:" {
    send "PASSWORD\n"
}
